<!-- extend base layout -->
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<script type="text/javascript">
form = document.forms['login'];
</script>
<h1><img HEIGHT="90" WIDTH="150" src="/static/Login-Button.png"/></h1>
<form action="" method="post" name="login">
    <dl>
    <dt><h2>Enter your user name and press the bird:</h2>
    <dd><input type=text name=user_name size=60 value="{{ request.form.user_name }}">
    </dl>
    <div class=actions><input type="image" src="/static/loginbird.png" alt="Submit Form" value="Login"/></div>
</form>
{% endblock %}
